<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heroes Bet</title>
    <link rel="stylesheet" href="../style/style.css">
</head>

<body>

    <header class="header">
        <nav>
            <div class="logo-img">
                <img src="../src/Site/img/logo4_sbg.png" alt="Logo">
                <span class="logo-title">HEROES BET</span>
            </div>
            <ul class="menu-header">
                <li><a href="#">HOME</a></li>
                <li><a href="#">NOVIDADES</a></li>
                <li><a href="#">SOBRE NÓS</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="container">
            <section class="hero">
                <header class="hero-conteudo">
                    <span class="spotlight brown">Destaque</span>
                    <h1>Os Melhores Cassinos!</h1>
                    <hr>
                    <h2 class="hero-subtitle">Explore os cassinos que mais estão gerando lucro para os jogadores!</h2>
                </header>
                <div class="hero-images-container">
                    <figure>
                        <img src="../src/Site/banner/casino.jpg" alt="">
                    </figure>
                </div>
            </section>
        </div>
        <div class="second-container">
            <section class="cards-section">
                <header class="card-header">
                    <h2>PRINCIPAIS OPORTUNIDADES</h2>
                </header>
                <div class="card-container" id="cardContainer">

                </div>
            </section>
        </div>

    </main>

    <footer>
        <div class="footer-copy">
            <p>©️ Copyright 2024 Heroes Bet </p>
        </div>
        <div class="footer-subtitle">
            <p>Todos os direitos reservados.</p>
            <p>18+ Anos.</p>
            <p>Boa sorte.</p>
        </div>
    </footer>

    <script src="../script/script.js"></script>

</body>

</html>