@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@300..700&display=swap');

/*Default Decorations*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background-color: #154d25;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

html {
    font-family: Inter, sans-serif;
    font-weight: 500;
}

/*Header Container*/
.header {
    background-color: #091c0e;
    padding: 5px;
    border: none;
    outline: none;
}

.logo-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

nav {
    max-width: 1120px;
    margin: auto;
    padding: 1.5rem 10rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.5rem;

}

.menu-header a {
    color: #FFF2E780;
}

.menu-header a:hover {
    color: white;
    cursor: pointer;
}

.logo-title {
    font-family: Teko;
    /*Bebas Neue*/
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
}

/*Main Container*/
main {
    display: flex;
    flex-direction: column;
}

.container {
    background: #0b2713;
    border-radius: 0 0 10px 10px;
}

.hero {

    max-width: 1120px;
    height: 60vh;
    /*Altura da tela referente ao navegador*/

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 6rem;

    padding: 0 2rem;
    margin: auto;

}

.hero-conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    opacity: 0;
    animation: animacao-entrada 0.5s ease-out forwards;
}

.green {
    color: #154d25;
}

.spotlight {
    font-family: Bebas Neue;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

h1 {
    font-family: Montserrat;
    font-size: 3.5rem;
    font-weight: 800;
}

hr {
    border: solid 2px;
    border-color: #154d25;
}

.hero-subtitle {
    font-family: Montserrat;
    color: rgba(255, 255, 255, 0.836);
    font-size: 1.5rem;
    font-weight: 400;
}

.hero-images-container {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    animation: animacao-entrada 0.5s 0.1s ease-out forwards;
}

.hero-images-container>figure>img {
    width: 100%;
    border-radius: 0.5rem;
    -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 10px rgba(0, 0, 0, .5);
}

/*Cards*/
.second-container {
    display: flex;
    background-color: #154d25;
    align-items: center;
    opacity: 0;
    animation: animacao-entrada 0.5s 0.2s ease-out forwards;

}

.cards-section {
    display: flex;
    flex-direction: column;
    max-width: 1120px;
    padding: 3rem 2rem;
    margin: auto;
    gap: 1.5rem;
    align-items: center;
}

.card-header h2 {
    font-family: Montserrat;
    font-size: 2rem;
    font-weight: 700;
}

.card-container {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    opacity: 0;
    animation: animacao-entrada 0.5s 0.3s ease-out forwards;
}

.card-element {
    background-color: white;
    position: relative;
    max-height: 4.5rem;
    width: 100%;
    align-items: center;
    color: #0c1216;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.square {
    width: 20%;
    /* Largura da div de fundo */
    height: 100%;
    /* Altura da div de fundo */
    position: absolute;
    /* Posiciona a div sobre a logo */
    z-index: 0;
    /* Define um z-index para a div ficar atrás da logo */
    margin-left: -1rem;
    border-radius: 8px 0 0 8px;
}

.card-figure {
    margin: 0;
    width: 20%;
    z-index: 1;
}

.card-logo {
    width: 90%;
}

.info-container {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    padding: 1.5rem;
    z-index: 1;

}

.rate-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.dep-min-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.saq-min-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.card-title {
    font-weight: 700;
    color: #2b3b46;
}

.card-rate {
    font-weight: 600;
    color: #ffa71d;
    z-index: 1;
}

.card-text {
    font-weight: 600;
    color: #14ad6c;
}

.play-button {
    padding: 10px;
    width: 27%;
    background-color: #14ad6c;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: 800;
    box-shadow: 3px 3px 0 1px #18d383;
    transition: box-shadow 0.3s ease-out;
    cursor: pointer;
    z-index: 1;
}

.play-button:hover {
    background-color: #18d383;
    box-shadow: 0px 0px 0 0px #18d383;
}

/*footer*/

.footer-container {
    background: #091c0e;
}

footer {
    display: flex;
    flex-direction: column;
    max-width: 1120px;
    margin: auto;
    padding: 3rem 2rem;
    align-items: center;
}

footer .footer-copy {    
    font-family: Montserrat;
    font-size: 1rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.637);
}

footer .footer-subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Montserrat;
    font-size: 0.8rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.692);
}

/* Reponsive */
@media(max-width:940px) {
    nav {
        padding: 1.5rem 4rem;
    }


    .logo-img img {
        max-width: 60%;
    }

    .logo-title {
        font-size: 28px;
    }


}

@media (max-width: 995px) {

    /*Title*/
    h1 {
        font-family: Montserrat;
        font-size: 2.5rem;
        font-weight: 800;
    }

    .hero-subtitle {
        font-size: 1rem;
    }

    .hero-images-container {
        max-width: 45%;
    }

    .card-header h2 {
        font-size: 1.8rem;
    }
}

@media (max-width: 800px) {

    .menu-header a {
        font-size: small;
    }

    .logo-img img {
        max-width: 50%;
    }

    .logo-title {
        font-size: 25px;
    }

    /*Title*/

    h1 {
        font-family: Montserrat;
        font-size: 1.8rem;
        font-weight: 800;
    }

    .hero-subtitle {
        font-size: 1rem;
    }

    .hero-images-container {
        max-width: 55%;
    }

    .card-header h2 {
        font-size: 1.6rem;
    }


    /*Cards*/

    .square {
        width: 100%;
        height: 30%;
        border-radius: 8px 8px 0 0;
        margin-top: -1rem;
        margin-left: 0rem;
    }

    .card-figure {
        margin: 0;
        width: 20%;
        z-index: 1;
    }

    .card-logo {
        width: 80%
    }

    .card-element {
        display: flex;
        flex-direction: column;
        max-height: 100%;
        align-items: center;
    }

    .info-container {
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-top: 2rem;
        margin: auto;
    }

    .play-button {
        width: 100%;
    }
}

@media (max-width: 644px) {
    nav {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    .logo-img {
        align-items: center;
        justify-content: center;
    }

    .logo-img img {
        max-width: 60%;
    }

    .logo-title {
        display: none;
    }

    /*title*/

    .hero {
        height: 40vh;
    }

    h1 {
        font-family: Montserrat;
        font-size: 1.5rem;
        font-weight: 800;
    }

    .hero-subtitle {
        font-size: 0.8rem;
    }

    .hero-images-container {
        max-width: 50%;
    }

    .card-header h2 {
        font-size: 1.4rem;
    }
}

@media (max-width: 572px) {

    /*title*/
    h1 {
        font-family: Montserrat;
        font-size: 1.4rem;
        font-weight: 800;
    }

    .hero-subtitle {
        font-size: 0.7rem;
    }

    .hero-images-container {
        max-width: 45%;
    }

    .card-header h2 {
        font-size: 1.2rem;
    }
}

@media (max-width: 500px) {

    nav {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    .logo-img {
        align-items: center;
        justify-content: center;
    }

    .logo-img img {
        max-width: 50%;
    }

    .logo-title {
        display: none;
    }

    /*title*/
    .hero {
        height: 55vh;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 5rem;
        padding-top: 1.5rem;
    }

    /*title*/
    h1 {
        font-size: 1.6rem;
    }

    .hero-subtitle {
        font-size: 1rem;
    }

    .hero-images-container img {
        transform: scale(2);
    }

    /*Cards*/
    .square {
        width: 100%;
        height: 30%;
        border-radius: 8px 8px 0 0;
        margin-top: -1rem;
        margin-left: 0rem;
    }

    .card-figure {
        margin: 0;
        width: 30%;
        z-index: 1;
    }

    .card-logo {
        width: 100%
    }

    .card-title {
        font-size: small;
    }

    .card-rate {
        font-size: small;
    }

    .card-text {
        font-size: small;
    }

    .play-button {
        width: 90%;
        font-size: 11px;
    }

    .footer-copy p {
        font-size: 0.9rem;
    }

    .footer-subtitle p {
        font-size: 0.7rem;
    }


}

@media (max-width: 440px) {

    /*title*/

    .hero {
        height: 55vh;
    }

    h1 {
        font-size: 1.4rem;
    }

    .hero-subtitle {
        font-size: 0.8rem;
    }


    /*card*/
    .cards-section {
        padding: 2rem 2rem;
    }

    .info-container {
        align-items: last baseline;
        width: 100%;
    }

    .card-title {
        font-size: 10px;
        font-weight: 900;
        margin-right: 5px;
        text-align: center;
    }

    .card-rate {
        font-size: 10px;
        font-weight: 900;
    }

    .card-text {
        font-size: 10px;
        font-weight: 900;
    }

    .play-button {
        width: 90%;
        font-size: 10px;
    }
}

@keyframes animacao-entrada {
    0% { opacity: 0; transform: translateY(50px); } /* Inicialmente invisível e deslocado para baixo */
    100% { opacity: 1; transform: translateY(0); } /* Totalmente visível e na posição original */
  }