@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@300..700&display=swap');

/*Default Decorations*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background-color: #0c1216;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

html {
    font-family: Inter, sans-serif;
    font-weight: 500;
}

/*Header Container*/

.header {
    background-color: #0c1216;
    padding: 5px;
    border: none;
    outline: none;
}

.logo-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

nav {
    max-width: 1120px;
    margin: auto;
    padding: 1.5rem 10rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.5rem;

}

.menu-header a {
    color: #FFF2E780;
}

.menu-header a:hover {
    color: white;
    cursor: pointer;
}


.logo-title {
    font-family: Teko;
    /*Bebas Neue*/
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
}

/*Main Container*/

main {
    display: flex;
    flex-direction: column;
}

.container {
    background: #141b20;
}

.hero {

    max-width: 1120px;
    height: 60vh;
    /*Altura da tela referente ao navegador*/

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 6rem;

    padding: 0 2rem;
    margin: auto;

}

.hero-conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.brown {
    color: #2b3b46;
}

.spotlight {
    font-family: Bebas Neue;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

h1 {
    font-family: Montserrat;
    font-size: 3.5rem;
    font-weight: 800;
}

hr {
    border: solid 2px;
    border-color: #2b3b46;
}

.hero-subtitle {
    font-family: Montserrat;
    color: rgba(255, 255, 255, 0.836);
    font-size: 1.5rem;
    font-weight: 400;
}



.hero-images-container {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-images-container>figure>img {
    width: 100%;
    border-radius: 0.5rem;
    -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 10px rgba(0, 0, 0, .5);
}

.second-container {
    display: flex;
    background-color: #2b3b46;
    align-items: center;

}

.cards-section {
    display: flex;
    flex-direction: column;
    max-width: 1120px;
    padding: 3rem 2rem;
    margin: auto;
    gap: 1.5rem;
    align-items: center;
}

.card-header h2 {
    font-family: Montserrat;
    font-size: 2rem;
    font-weight: 700;
}

.card-container {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 15px;

}

.card-element {
    background-color: white;
    position: relative;
    max-height: 4.5rem;
    width: 100%;
    align-items: center;
    color: #0c1216;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.square {
    width: 20%; /* Largura da div de fundo */
    height: 100%; /* Altura da div de fundo */   
    position: absolute; /* Posiciona a div sobre a logo */
    z-index: 0; /* Define um z-index para a div ficar atrás da logo */
    margin-left: -1rem;    
    border-radius: 8px 0 0 8px;
}

.card-figure {
    margin: 0;
    width: 20%;
    z-index: 1;
    /* Defina a largura desejada */
}

.card-logo {
    width: 80%;
}

.rate-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.dep-min-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.saq-min-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-title {
    font-weight: 700;
    color: #2b3b46;
}

.card-rate {
    font-weight: 600;
    color: #ffa71d;

}

.card-text {
    font-weight: 600;
    color: #14ad6c;
}

.play-button {
    padding: 10px;
    width: 25%;
    background-color: #14ad6c;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: 800;
    box-shadow: 3px 3px 0 1px #18d383;
    transition: box-shadow 0.3s ease-out;
    cursor: pointer;
}

.play-button:hover {
    background-color: #18d383;
    box-shadow: 0px 0px 0 0px #18d383;
}


footer {
    display: flex;
    flex-direction: column;
    max-width: 1120px;
    margin: auto;
    padding: 3rem 2rem;
    align-items: center;
    background: #0c1216;
}

footer .footer-copy {
    color: #2b3b46;
    font-family: Montserrat;
    font-size: 1rem;
    font-weight: 600;
}

footer .footer-subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2b3b46;
    font-family: Montserrat;
    font-size: 0.8rem;
    font-weight: 500;
}